* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container{
  cursor: pointer;
  background-color: red;
  color: white;
}
.container:hover{
  cursor: pointer;
  background-color: yellow;
  color: #000000;
}

/*Cabecera*/

header {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: space-between;
  background: #ffac3e;
  text-align: center;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  margin-top: 0;
  z-index: 100;
  margin-bottom: 100px;
}

.esfera {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(white, teal);
  position: relative;
}

.esfera::before {
  content: "";
  display: block;
  width: 200px;
  height: 5px;
  background: black;
  position: absolute;
  bottom: 5px;
  left: 50%;
  border-radius: 50%;
  box-shadow: 0 0 10px 10px black;
  opacity: 0.6;
  z-index: -1;
}

header h1 {
  font-size: 42px;
  color: white;
  position: relative;
  padding-right: 500px;
}

header nav {
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  line-height: 60px;
  width: 100%;
  background: rgba(232, 63, 0, 0.8);
  box-shadow: 2px 2px 5px rgb(97, 96, 96);
  filter: shadow(color=#999999, direction=135, strength=2);
}

header nav ul {
  font-size: 13px;
  width: auto;
  list-style-type: none;
  text-align: center;
  overflow: hidden;
}

header nav ul li {
  list-style: none;
  float: left;
  text-align: center;
  margin: 0 10px 0 0;

  transition: 300ms;
  padding-left: 30px;
}

header nav ul li:hover {
  cursor: pointer;
  transform: translate(0rem, -0.3rem);
}

header nav a {
  padding: 2px 7px 2px 7px;
  background-color: #f18137;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: 300ms;
  border: 1px solid #ccc;
}

header nav a:hover {
  background-color: #ffb17d;
  color: #000000 !important;
  box-shadow: 0 4px 16px rgb(30, 33, 34);
  font-weight: bold;
}

.selected {
  background-color: #36281e;
  color: #ffffff !important;
  font-weight: bold;
  transition: 250ms;
}


/*Cuerpo*/

body {
  margin: o;
  padding: 0;
  background-color: rgba(0, 128, 128, 0.15);
  font-family: "Courier New", Courier, monospace;
}
body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background: rgba(165, 46, 3, 0.8);
  border-radius: 60px;
  border-right: 2px solid rgba(180, 99, 69, 0.8);
}

.menu-fixed {
  position: fixed;
  z-index: 1000px;
  top: 0;
  width: 100%;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
}
/*Tabla*/

.divider {
  height: 100px;
}

.content-table {
  margin: 100px auto;
  width: 60%;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
  margin-bottom: 40px;
}

.content-table h3 {
  cursor: default;
}

table {
  background-color: white;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 20px;
}

thead {
  background-color: #246355;
  border-bottom: solid 5px #0f362d;
  color: white;
}
tr {
  transition: 250ms;
}

tr:nth-child(even) {
  background-color: #ddd;
}

.poblacion:hover {
  background-color: #369681;
  color: white;
  cursor: pointer;
  transform: translate(0rem, -0.1rem);
  box-shadow: 0 4px 16px rgb(4, 5, 5);
}

/*Formulario*/
form {
  background-color: white;
  color: #000000ce;
  margin: 0 auto;
  width: 400px;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  font-size: 0.8em;
  box-shadow: 20px 15px 10px rgb(97, 96, 96);
}

form h2{
  margin-bottom: 30px;
}

label {
  font-weight: bold;
  padding-left: 10px;
  font-size: 15px;
}

textarea {
  resize: none;
}

.btn {
  border-radius: 5px;
  display: inline-block;
  padding: 20px 15px;
  text-decoration: none;
  box-shadow: 0 1px 1px rgb(0, 0, 0.3);
  transition: 100ms;
}

.btn-green {
  color: white;
  background-color: #369681;
  margin-top: 30px;
}

.btn-green:hover {
  font-weight: bold;
  font-size: 15px;
  background-color: #184b40f5;
  transform: translate(0rem, -0.3rem);
  box-shadow: 0 1px 1px rgb(0, 0, 1);
  cursor: pointer;
}

input,
textarea {
  border: 0;
  outline: none;
}

input[type="checkbox"] {
  margin-bottom: 20px;
}

input[type="submit"] {
  width: 100px;
  border: 0;
  outline: none;
}

p {
  padding-top: 15px;
}

.field {
  border: solid 1px #999;
  padding: 10px;
  margin: 5px;
  width: 280px;
  border-width: 2px;
}

.field:focus {
  border-color: #369681;
}

.custom-select {
  position: relative;
  font-family: Arial;
  margin-top: 10px;
  padding-left: 10px;
}

.select-selected {
  background-color: DodgerBlue;
}

.error-msg{
  width: min-content;
  height: min-content;
  font-size: 17px;
  font-weight: bold;
  background-color: red;
  color: white;
}

